
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* styles/globals.css */
.kontakta-oss {
  background-color: #ffffff;
  padding: 80px 0;
}

.kontakta-oss .MuiTypography-h4 {
  margin-bottom: 20px;
}

.kontakta-oss .MuiButton-containedPrimary {
  margin-top: 30px;
}

.kontakta-oss form .MuiTextField-root {
  margin-bottom: 20px;
}

.MuiIconButton-colorSecondary {
  color: #ffffff; /* Change this to your desired color */
}
