html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* styles/globals.css */
.kontakta-oss {
  background-color: #ffffff;
  padding: 80px 0;
}

.kontakta-oss .MuiTypography-h4 {
  margin-bottom: 20px;
}

.kontakta-oss .MuiButton-containedPrimary {
  margin-top: 30px;
}

.kontakta-oss form .MuiTextField-root {
  margin-bottom: 20px;
}

.MuiIconButton-colorSecondary {
  color: #ffffff; /* Change this to your desired color */
}

/* Add the font-face definition for Oswald */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/oswald-v53-latin-regular.woff2') format('woff2');
}

/* Ensure the font-family for your styled components is consistent */
.kontakta-oss .header-text {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
  font-weight: 800;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  line-height: 1;
}

.carousel-image-wrapper {
  position: relative;
  width: 100%;
  height: 400px; /* Set this to the desired height for all images */
  background-color: #FFA500; /* Use your desired orange background color */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel-image {
  max-height: 100%; /* Ensure image takes up full height of container */
  max-width: 100%; /* Ensure image scales within the container width */
  object-fit: contain; /* Maintain aspect ratio */
  margin: 0 auto; /* Center the image horizontally */
  display: block; /* Ensure the image is treated as a block element */
}

/* Styles for Mobile Devices */
@media (max-width: 768px) {
  .carousel-image-wrapper {
    position: relative;
    width: 100%;
    height: 300px; /* Fixed height for mobile devices */
    overflow: hidden;
    background-color: #f0f0f0;
  }

  .carousel-image {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%, -50%);
    object-fit: contain; /* Maintain aspect ratio, adjust width */
  }
}
